@import "tailwindcss";
@import "./theme.css";
@import "./utilities.css";

:root {
  --app-background-primary: #000;
  --app-background-secondary: #23252b;
  --app-background-tertiary: #4a4e5880;

  --app-overlay-primary: #23252bcc;
  --app-overlay-secondary: #141519;

  --app-text-primary: #fff;
  --app-text-secondary: #f8f8f8;

  --app-background-crunchyroll-orange: #ff640a;
  --app-text-crunchyroll-orange: #e05200;
  --app-hover-crunchyroll-orange: #ff7b2e;

  --app-icon-primary: #dadada;

  --app-border-primary: #23252b;

  --meta-color: #a0a0a0;
  --meta-color-disabled: #59595b;

  --app-badge: #213944;
}

::selection {
  @apply bg-[var(--app-background-secondary)] text-[var(--app-background-crunchyroll-orange)];
}

html,
body {
  @apply h-full bg-[var(--app-background-primary)] font-normal text-[var(--app-text-primary)];

  overflow-anchor: none; /* Disable Auto Scroll from dynamically loaded content */
}

button:focus-visible,
a:focus-visible {
  outline: 0.25rem solid var(--meta-color);
  outline-offset: 0;
}

.outline-sm:focus-visible {
  outline: 0.25rem solid var(--meta-color);
  outline-offset: -0.25rem;
}

.outline-xs:focus-visible {
  outline: 0.125rem solid var(--meta-color);
  outline-offset: -0.125rem;
}

.app-layout {
  @apply grid min-h-full grid-cols-[minmax(0,auto)_minmax(0,1fr)] grid-rows-[minmax(0,auto)_minmax(0,_1fr)_minmax(0,auto)];
}

header {
  @apply relative h-15;

  grid-column: 1 / -1;
  grid-row: 1;
}

main {
  grid-column: 2;
  grid-row: 2;
}

footer {
  grid-column: 2/-1;
  grid-row: 3;
}

.container-cmp {
  --container-inline-padding: 1.25rem;
  --container-max-width: 84.375rem;

  @apply mx-auto w-full max-w-full px-[var(--container-inline-padding)];
}

.container-cmp.has-no-gutters {
  @apply px-0;
}

.container-cmp-has-max-width {
  @apply max-w-[calc(var(--container-inline-padding)*2+var(--container-max-width))];
}

.content-wrapper {
  --content-wrapper-inline-padding: 1.25rem;
  --content-width: 65.625rem;

  @apply mx-auto max-w-[calc(var(--content-width)+var(--content-wrapper-inline-padding)*2)] px-[var(--content-wrapper-inline-padding)];
}

@media screen and (min-width: 568px) {
  .container-cmp {
    --container-inline-padding: 2.5rem;
  }

  .content-wrapper {
    --content-wrapper-inline-padding: 2.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .container-cmp {
    --container-inline-padding: 4rem;
  }
}

@media screen and (min-width: 1720px) {
  .container-cmp {
    --container-inline-padding: 5rem;
  }
}

.meta-tags-are-light {
  --meta-color: var(--app-icon-primary);
}

.meta-tags {
  @apply truncate text-sm font-medium text-[var(--meta-color)] select-none;
}

.meta-tags span {
  @apply relative;
}

.rhombus {
  @apply relative;
}

.rhombus::before {
  @apply mx-1 inline-block size-1 -translate-y-1/2 rotate-45 bg-[var(--meta-color)] content-[""];
}

.details-wrapper-is-faded {
  --fade-size: 2.5rem;
  -webkit-mask-image: linear-gradient(
    to bottom,
    #000 calc(100% - var(--fade-size)),
    #0000
  );
  mask-image: linear-gradient(
    to bottom,
    #000 calc(100% - var(--fade-size)),
    #0000
  );
}
