@theme {
  --text-1_5xl: 1.375rem;
  --text-2_5xl: 1.75rem;
  --text-3_5xl: 2.125rem;

  --breakpoint-sm: 35.5rem; /* 568px */
  --breakpoint-2sm: 42.5rem; /* 680px */
  --breakpoint-md: 50rem; /* 800px */
  --breakpoint-2md: 61.25rem; /* 980px */
  --breakpoint-xl: 90rem; /* 1440px */
  --breakpoint-2xl: 107.5rem; /* 1720px */
  --breakpoint-3xl: 135rem; /* 2160px */

  --ease-quick: ease;
}
