<figure class="content-image__figure--7vume">
  <div class="progressive-image-loading--rwH3R">
    <picture
      ><source
        media="(width < 50em)"
        sizes="100vw"
        srcset="
          https://imgsrv.crunchyroll.com/cdn-cgi/image/fit=contain,format=auto,quality=94,width=420,blur=100/CurationAssets/Negative%20Positive%20Angler/SEASON%201/ULTRA-WIDE/NegativePositiveAngler-S1-KV1-UW-Tall.png   420w,
          https://imgsrv.crunchyroll.com/cdn-cgi/image/fit=contain,format=auto,quality=94,width=840,blur=100/CurationAssets/Negative%20Positive%20Angler/SEASON%201/ULTRA-WIDE/NegativePositiveAngler-S1-KV1-UW-Tall.png   840w,
          https://imgsrv.crunchyroll.com/cdn-cgi/image/fit=contain,format=auto,quality=94,width=1680,blur=100/CurationAssets/Negative%20Positive%20Angler/SEASON%201/ULTRA-WIDE/NegativePositiveAngler-S1-KV1-UW-Tall.png 1680w
        " />
      <img
        class="progressive-image-base__fade--Nrn20 progressive-image-base__fade--is-ready--dMxKu content-image__image--7tGlg progressive-image-loading__preview--eYvnH progressive-image-loading__preview--is-hidden--RLDT9"
        loading="eager"
        src="https://imgsrv.crunchyroll.com/cdn-cgi/image/fit=contain,format=auto,quality=94,width=1920,blur=100/CurationAssets/Negative%20Positive%20Angler/SEASON%201/ULTRA-WIDE/NegativePositiveAngler-S1-KV1-UW-LTR.png"
        alt=""
        data-t="preview-image"
        fetchpriority="auto"
        sizes="100vw"
        srcset="
          https://imgsrv.crunchyroll.com/cdn-cgi/image/fit=contain,format=auto,quality=94,width=960,blur=100/CurationAssets/Negative%20Positive%20Angler/SEASON%201/ULTRA-WIDE/NegativePositiveAngler-S1-KV1-UW-LTR.png   960w,
          https://imgsrv.crunchyroll.com/cdn-cgi/image/fit=contain,format=auto,quality=94,width=1350,blur=100/CurationAssets/Negative%20Positive%20Angler/SEASON%201/ULTRA-WIDE/NegativePositiveAngler-S1-KV1-UW-LTR.png 1350w,
          https://imgsrv.crunchyroll.com/cdn-cgi/image/fit=contain,format=auto,quality=94,width=1920,blur=100/CurationAssets/Negative%20Positive%20Angler/SEASON%201/ULTRA-WIDE/NegativePositiveAngler-S1-KV1-UW-LTR.png 1920w,
          https://imgsrv.crunchyroll.com/cdn-cgi/image/fit=contain,format=auto,quality=94,width=3840,blur=100/CurationAssets/Negative%20Positive%20Angler/SEASON%201/ULTRA-WIDE/NegativePositiveAngler-S1-KV1-UW-LTR.png 3840w
        " /></picture
    ><picture
      ><source
        media="(width < 50em)"
        sizes="100vw"
        srcset="
          https://imgsrv.crunchyroll.com/cdn-cgi/image/fit=contain,format=auto,quality=94,width=420/CurationAssets/Negative%20Positive%20Angler/SEASON%201/ULTRA-WIDE/NegativePositiveAngler-S1-KV1-UW-Tall.png   420w,
          https://imgsrv.crunchyroll.com/cdn-cgi/image/fit=contain,format=auto,quality=94,width=840/CurationAssets/Negative%20Positive%20Angler/SEASON%201/ULTRA-WIDE/NegativePositiveAngler-S1-KV1-UW-Tall.png   840w,
          https://imgsrv.crunchyroll.com/cdn-cgi/image/fit=contain,format=auto,quality=94,width=1680/CurationAssets/Negative%20Positive%20Angler/SEASON%201/ULTRA-WIDE/NegativePositiveAngler-S1-KV1-UW-Tall.png 1680w
        " />
      <img
        class="content-image__image--7tGlg progressive-image-loading__original--k-k-7"
        loading="eager"
        src="https://imgsrv.crunchyroll.com/cdn-cgi/image/fit=contain,format=auto,quality=94,width=1920/CurationAssets/Negative%20Positive%20Angler/SEASON%201/ULTRA-WIDE/NegativePositiveAngler-S1-KV1-UW-LTR.png"
        alt=""
        data-t="original-image"
        fetchpriority="auto"
        sizes="100vw"
        srcset="
          https://imgsrv.crunchyroll.com/cdn-cgi/image/fit=contain,format=auto,quality=94,width=960/CurationAssets/Negative%20Positive%20Angler/SEASON%201/ULTRA-WIDE/NegativePositiveAngler-S1-KV1-UW-LTR.png   960w,
          https://imgsrv.crunchyroll.com/cdn-cgi/image/fit=contain,format=auto,quality=94,width=1350/CurationAssets/Negative%20Positive%20Angler/SEASON%201/ULTRA-WIDE/NegativePositiveAngler-S1-KV1-UW-LTR.png 1350w,
          https://imgsrv.crunchyroll.com/cdn-cgi/image/fit=contain,format=auto,quality=94,width=1920/CurationAssets/Negative%20Positive%20Angler/SEASON%201/ULTRA-WIDE/NegativePositiveAngler-S1-KV1-UW-LTR.png 1920w,
          https://imgsrv.crunchyroll.com/cdn-cgi/image/fit=contain,format=auto,quality=94,width=3840/CurationAssets/Negative%20Positive%20Angler/SEASON%201/ULTRA-WIDE/NegativePositiveAngler-S1-KV1-UW-LTR.png 3840w
        "
    /></picture>
  </div>
</figure>

<img
  alt="Negative Positive Angler"
  class="hero-card-layout__logo-img--z2De7 hero-card-layout__logo-img--is-ready--7E-O3"
  loading="eager"
  sizes="
  (max-width: 960px) 320px,
  (max-width: 1260px) 480px,
  600px
"
  src="https://imgsrv.crunchyroll.com/cdn-cgi/image/fit=contain,format=auto,quality=85,width=480/CurationAssets/Negative%20Positive%20Angler/SEASON%201/ULTRA-WIDE/NegativePositiveAngler-S1-KV1-UW-Logo.png"
  srcset="
    https://imgsrv.crunchyroll.com/cdn-cgi/image/fit=contain,format=auto,quality=85,width=320/CurationAssets/Negative%20Positive%20Angler/SEASON%201/ULTRA-WIDE/NegativePositiveAngler-S1-KV1-UW-Logo.png 320w,
    https://imgsrv.crunchyroll.com/cdn-cgi/image/fit=contain,format=auto,quality=85,width=480/CurationAssets/Negative%20Positive%20Angler/SEASON%201/ULTRA-WIDE/NegativePositiveAngler-S1-KV1-UW-Logo.png 480w,
    https://imgsrv.crunchyroll.com/cdn-cgi/image/fit=contain,format=auto,quality=85,width=600/CurationAssets/Negative%20Positive%20Angler/SEASON%201/ULTRA-WIDE/NegativePositiveAngler-S1-KV1-UW-Logo.png 600w
  "
/>
