@import "tailwindcss";
@import "@styles/theme.css";
@import "@styles/utilities.css";

.star-rating-controls {
  @apply flex items-center text-[var(--app-icon-primary)] focus-within:text-[var(--app-hover-crunchyroll-orange)] hover:text-[var(--app-hover-crunchyroll-orange)];
}

.star-rating-controls::after {
  @apply ml-2 h-5 w-[0.0625rem] bg-[#4a4e58] content-[""];
}

.star-rating-controls:is(:hover, :focus-within)
  .star-rating-control
  svg:first-child {
  @apply inline-block;
}

.star-rating-controls:is(:hover, :focus-within)
  .star-rating-control
  svg:nth-child(2),
.star-rating-controls:is(:hover, :focus-within)
  .star-rating-control
  svg:nth-child(3) {
  @apply hidden;
}

.star-rating-control:is(:hover, :focus-visible)
  ~ .star-rating-control
  svg:first-child,
.star-rating-control:is(:hover, :focus-visible)
  ~ .star-rating-control
  svg:nth-child(2) {
  @apply hidden;
}

.star-rating-control:is(:hover, :focus-visible)
  ~ .star-rating-control
  svg:nth-child(3) {
  @apply inline-block;
}
