@import "tailwindcss";
@import "@styles/theme.css";
@import "@styles/utilities.css";

.video-player {
  grid-template-areas: "video-player";
}

.video-player > * {
  grid-area: video-player;
}

@media screen and (min-height: 25rem) {
  .video-player-sizer {
    @apply max-h-[calc(100vh-15.625rem)];
  }
}

.seek {
  @apply relative h-[2.5px] w-full cursor-pointer appearance-none bg-[var(--meta-color)] outline-none;
}

.seek::-webkit-slider-runnable-track,
.seek::-moz-range-track {
  @apply h-[2.5px] bg-[var(--meta-color)];
}

.seek::-webkit-slider-thumb,
.seek::-moz-range-thumb {
  @apply size-3 cursor-pointer rounded-full border-none bg-[var(--app-background-crunchyroll-orange)] shadow-none;
}

.seek::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
}

.seek::-moz-range-progress {
  @apply h-[2.5px] bg-[var(--app-background-crunchyroll-orange)];
}

.player-action-button {
  @apply flex min-h-10 min-w-10 cursor-pointer items-center justify-center transition-colors duration-150;
}

.player-action-button:hover,
.player-action-button:focus-visible {
  @apply bg-black/60;
}
