@import "tailwindcss";
@import "@styles/theme.css";
@import "@styles/utilities.css";

.video-player {
  grid-template-areas: "video-player";
}

.video-player > * {
  grid-area: video-player;
}

.video-player-sizer,
.settings-panel-sizer {
  @apply h-[56.25vw] max-h-40 min-h-[calc(20rem*0.5625)];
}

.settings-panel-sizer {
  @apply md:h-full md:max-h-75.5 md:w-80;
}

@media screen and (min-height: 25rem) {
  .video-player-sizer,
  .settings-panel-sizer {
    @apply max-h-[calc(100vh-15.625rem)];
  }
}

.seek {
  -webkit-appearance: none;
  appearance: none;

  @apply w-full cursor-pointer bg-transparent focus:outline-none active:outline-none;
}

.seek::-webkit-slider-runnable-track {
  @apply h-[2.5px] rounded-sm bg-[var(--meta-color)] sm:h-[3px];
}

.seek::-moz-range-track {
  @apply h-[2.5px] rounded-sm bg-[var(--meta-color)] sm:h-[3px];
}

.seek::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;

  @apply -mt-[4.75px] size-3 rounded-full bg-[var(--app-background-crunchyroll-orange)] sm:size-4;
}

.seek::-moz-range-thumb {
  @apply size-3 border-0 border-none bg-[var(--app-background-crunchyroll-orange)] sm:size-4;
}

.seek::-moz-range-progress {
  @apply h-[2.5px] bg-[var(--app-background-crunchyroll-orange)] sm:h-[3px];
}

.player-action-button {
  @apply flex min-h-10 min-w-10 cursor-pointer items-center justify-center transition-colors duration-150;
}

.player-action-button:hover,
.player-action-button:focus-visible {
  @apply bg-black/60;
}
