.top-controls {
  @apply mb-3 flex items-center;
}

.seasons-select {
  @apply flex min-w-[50%] flex-1 pr-6;
}

.episode-list {
  --number-of-columns: 1;

  @apply grid grid-cols-1 gap-3 sm:grid-cols-2 sm:gap-5 md:grid-cols-3 lg:grid-cols-4;
}

.playable-card {
  --hover-shadow-size: 0.5rem;

  @apply relative flex sm:block;

  box-shadow: 0 0 0 var(--hover-shadow-size) #0000;
  transition:
    background-color 0.2s ease,
    box-shadow 0.2s ease;
}

@media screen and (min-width: 568px) {
  .playable-card {
    --hover-shadow-size: 0.75rem;
  }
}

.playable-card-thumbnail-wrapper {
  @apply relative block h-[5.3125rem] flex-[0_0_auto] sm:h-auto;
}

.playable-card-hover-info {
  @apply absolute inset-0 z-[1] opacity-0;
}

.playable-card:hover .playable-card-hover-info {
  @apply opacity-100;
}

.playable-card-hover-preview {
  @apply relative flex size-full bg-[var(--app-overlay-secondary)];

  box-shadow: 0 0 0 var(--hover-shadow-size) var(--app-overlay-secondary);
}

.playable-card-hover-thumbnail-wrapper {
  @apply sm:hidden;
}

.playable-card-hover-thumbnail-wrapper::after {
  @apply absolute inset-0 bg-white opacity-[0.08] content-[""];
}

.playable-card-hover-body {
  @apply flex flex-1 flex-col pb-[0.7625rem] pl-3 pt-3 sm:p-0;
}

.playable-card-hover-release {
  @apply mb-2 hidden items-center text-sm/leading-4.5 font-medium text-[var(--meta-color)] sm:flex;
}

.playable-card-hover-description-wrapper {
  @apply mb-2.5 hidden sm:block md:mb-2 lg:mb-3;
}

.playable-card-hover-description-wrapper p {
  @apply line-clamp-5 text-sm/leading-4.5 font-semibold;
}

.playable-card-hover-play {
  @apply flex items-center gap-1 text-[var(--app-background-crunchyroll-orange)];
}

.playable-card:hover .playable-card-hover-play {
  @apply text-[var(--app-hover-crunchyroll-orange)];
}

.playable-card-hover-play span {
  @apply inline-block truncate text-sm/leading-4.5 font-black uppercase;
}

.playable-card-body-aligner {
  @apply relative flex flex-1 items-center;
}

.playable-card-body {
  @apply flex min-h-[4.3125rem] flex-1 flex-col items-center justify-between py-1 pl-3 sm:min-h-[auto] sm:pb-0 sm:pl-0 sm:pt-3;
}

.playable-card-small-title {
  @apply mb-1 self-start;
}

.playable-card-small-title small {
  @apply block select-none truncate text-[0.625rem]/[0.875rem] font-black uppercase text-[var(--meta-color)];
}

.playable-card-title {
  @apply line-clamp-1 self-start text-sm/leading-4.5 font-semibold sm:mb-3 sm:line-clamp-3 sm:text-base;
}

.playable-card-hover-title {
  @apply sm:mb-0;
}

.playable-card-footer {
  @apply relative mt-auto flex w-full items-center justify-between text-[var(--meta-color)];
}

.meta-tags {
  @apply line-clamp-2 flex-1 text-sm/leading-4.5 font-medium sm:line-clamp-1;
}
