@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --app-background-primary: #000;
  --app-background-secondary: #23252b;
  --app-background-tertiary: #4a4e5880;

  --app-overlay-primary: #23252bcc;
  --app-overlay-secondary: #141519;

  --app-text-primary: #fff;
  --app-text-secondary: #f8f8f8;

  --app-background-crunchyroll-orange: #ff640a;
  --app-text-crunchyroll-orange: #e05200;
  --app-hover-crunchyroll-orange: #ff7b2e;

  --app-icon-primary: #dadada;

  --app-border-primary: #23252b;

  --meta-color: #a0a0a0;
}

::selection {
  background-color: var(--app-background-secondary);
  color: var(--app-background-crunchyroll-orange);
}

html,
body {
  color: var(--app-text-primary);
  font-weight: 400;
  height: 100%;
  overflow-anchor: none; /* Disable Auto Scroll from dynamically loaded content */

  background-color: var(--app-background-primary);
}

@layer components {
  .main {
    @apply flex-[1_1_0] pb-10;
  }

  .container-cmp {
    --container-inline-padding: 1.25rem;
    --container-max-width: 84.375rem;

    @apply mx-auto w-full max-w-full px-[var(--container-inline-padding)];
  }

  .content-wrapper {
    --content-wrapper-inline-padding: 1.25rem;
    --content-width: 65.625rem;

    @apply mx-auto max-w-[calc(var(--content-width)+var(--content-wrapper-inline-padding)*2)] px-[var(--content-wrapper-inline-padding)];
  }

  .container-cmp-has-max-width {
    @apply max-w-[calc(var(--container-inline-padding)*2+var(--container-max-width))];
  }

  @media screen and (min-width: 568px) {
    .container-cmp {
      --container-inline-padding: 2.5rem;
    }

    .content-wrapper {
      --content-wrapper-inline-padding: 2.5rem;
    }
  }

  @media screen and (min-width: 1024px) {
    .container-cmp {
      --container-inline-padding: 4rem;
    }
  }

  @media screen and (min-width: 1720px) {
    .container-cmp {
      --container-inline-padding: 5rem;
    }
  }

  .app-text-is-s {
    @apply text-xs font-black;
  }

  .app-text-is-m {
    @apply text-sm/leading-4.5 font-medium;
  }

  .app-transition-colors {
    @apply transition-colors duration-200 ease-quick;
  }

  .app-transition-opacity {
    @apply transition-opacity duration-200 ease-quick;
  }

  .app-overlay {
    @apply invisible fixed left-0 top-0 z-0 h-full w-full bg-[var(--app-overlay-primary)] opacity-0 data-[active=true]:visible data-[active=true]:z-[1] data-[active=true]:opacity-100;
  }

  .meta-tags {
    @apply app-text-is-m select-none text-[var(--meta-color)];
  }

  .meta-tags span {
    @apply relative;
  }

  .rhombus {
    @apply relative;
  }

  .rhombus::before {
    @apply mx-1 inline-block size-1 -translate-y-1/2 rotate-45 bg-[var(--meta-color)] content-[""];
  }

  .text-rendering-optimized {
    text-rendering: optimizeLegibility;
  }

  .action-button {
    @apply app-transition-colors min-h-10 select-none;
  }

  .action-button span:first-child {
    @apply flex items-center justify-center gap-1 text-sm/leading-4.5 font-black uppercase;
  }
}
