.app_body_wrapper {
  flex: 1 1 0; /* Grow Shrink Basis */
}

.page_wrapper {
  padding-bottom: 2.5rem;
}

.page_home {
  min-width: var(--min-width);
  position: relative;
}

.feeds {
  display: grid;
  position: relative;
  row-gap: 3rem;
}
