@import "tailwindcss";
@import "@styles/theme.css";
@import "@styles/utilities.css";

.body {
  @apply 2sm:pt-10 grid grid-cols-[minmax(min-content,54.375rem)_auto] justify-center pt-6;

  display: grid;
  grid-template-areas:
    "currentMedia"
    "videos";
}

@media screen and (min-width: 980px) {
  .body {
    grid-template-areas: "currentMedia videos";
  }
}
