.menu-dropdown {
  @apply invisible fixed left-0 top-15 grid h-[calc(100%-3.75rem)] w-full -translate-y-2.5 overflow-y-auto bg-[var(--app-background-primary)] opacity-0 sm:w-[18.75rem] lg:left-auto lg:h-auto lg:w-auto lg:py-2.5;

  grid-template-areas: "content";
  scrollbar-width: thin;
  transition:
    transform 0.1s,
    opacity 0.1s cubic-bezier(0, 0, 0.25, 1),
    visibility 0s linear 0.1s;
}

.menu-dropdown[data-active="true"] {
  @apply visible translate-y-0 opacity-100;

  transition:
    transform 0.2s,
    opacity 0.2s cubic-bezier(0, 0, 0.25, 1),
    visibility 0s;
}

.menu-dropdown-content {
  @apply block w-full lg:grid lg:grid-cols-[13.75rem_1fr];

  grid-area: content;
}

.small-title {
  @apply block select-none px-5 py-2.5 text-xs font-semibold uppercase text-[#a0a0a0] lg:p-[0.8125rem_1rem];
}

.menu-section:first-child {
  @apply border-b-2 border-[var(--app-border-primary)] lg:border-none;
}

.menu-section:nth-child(2) {
  @apply border-l-2 border-[var(--app-border-primary)];
}

.menu-section {
  @apply py-2.5 lg:py-0;
}

.menu-section .genres-section {
  @apply grid w-full auto-cols-[minmax(0,12.5rem)] grid-flow-col grid-rows-[repeat(5,1fr)] gap-x-5;
}

.menu-title {
  @apply px-4.5 lg:text-sm/leading-4.5 relative flex items-center py-3 text-base font-medium text-[var(--app-text-secondary)] lg:px-4;

  transition: background-color 0.2s ease;
}

.menu-title[data-active="true"] {
  @apply bg-[var(--app-background-secondary)];
}

.menu-title:hover {
  @apply bg-[var(--app-background-secondary)];
}

.menu-title-icon {
  transition: transform 0.1s cubic-bezier(0, 0, 0.25, 1);
}

.menu-title[data-active="true"] .menu-title-icon {
  @apply -rotate-180;
}

.submenu-title {
  @apply text-sm/leading-4.5 block p-[0.875rem_2.375rem] font-medium text-[var(--app-icon-primary)] hover:bg-[var(--app-background-secondary)] lg:p-[0.75rem_1rem];

  transition: background-color 0.2s ease;
}

.submenu-title-active {
  @apply border-l-2 border-[var(--app-background-crunchyroll-orange)] pl-9 text-[var(--app-text-crunchyroll-orange)];
}
