.menu-dropdown {
  @apply top-15 invisible fixed left-0 grid h-[calc(100%-3.75rem)] w-full min-w-80 -translate-y-[0.625rem] overflow-y-auto bg-[var(--app-background-primary)] opacity-0;

  grid-template-areas: "content";
  scrollbar-width: thin;
  transition:
    transform 0.1s,
    opacity 0.1s cubic-bezier(0, 0, 0.25, 1),
    visibility 0s linear 0.1s;
}

.menu-dropdown[data-active="true"] {
  @apply visible translate-y-0 opacity-100;

  transition:
    transform 0.2s,
    opacity 0.2s cubic-bezier(0, 0, 0.25, 1),
    visibility 0s;
}

.menu-dropdown-content {
  @apply w-full;

  grid-area: content;
}

.menu-dropdown-content nav:first-child {
  @apply block;
}

.menu-dropdown-content nav:first-child div:first-child {
  @apply border-b border-[var(--app-border-primary)] py-2.5;
}

.menu-dropdown-content nav:first-child div {
  @apply py-2.5;
}
