.header {
  @apply relative flex-[0_0_3.75rem];
}

.header-container {
  @apply fixed left-0 right-0 z-50 grid h-15 grid-cols-[auto_1fr_auto] bg-[var(--app-background-secondary)];

  grid-template-areas: "menu logo actions";
}

@media screen and (min-width: 1024px) {
  .header-container {
    grid-template-areas: "- logo menu actions --";
    grid-template-columns: minmax(0, var(--container-inline-padding)) auto 1fr auto minmax(
        0,
        var(--container-inline-padding)
      );
  }
}

.header-logo {
  @apply flex w-fit;

  grid-area: logo;
}

.header-logo a svg {
  @apply h-full fill-[var(--app-background-crunchyroll-orange)] transition-[fill] duration-200 ease-quick;
}

.header-logo:hover a svg {
  @apply fill-white;
}

.icon-wrapper {
  @apply flex h-full items-center px-4.5 text-[var(--app-icon-primary)] hover:bg-[var(--app-background-primary)] hover:text-white data-[active=true]:bg-[var(--app-background-primary)] data-[active=true]:text-white;

  transition: background-color 0.1s cubic-bezier(0, 0, 0.25, 1);
}

.header-menu {
  @apply flex;

  grid-area: menu;
}

.header-actions {
  @apply flex;

  grid-area: actions;
}
