.header {
  flex: 0 0 3.75rem; /* grow, shrink, basis */
  min-width: var(--min-width);
  position: relative;
}

.navbar {
  background-color: var(--light-black);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  height: 3.75rem;
  min-width: var(--min-width);

  display: grid;
  grid-template-areas: "menu logo actions";
  grid-template-columns: auto 1fr auto;
}

.header_logo {
  grid-area: logo;
  height: inherit;
}

.header_logo a {
  display: block;
  padding: 0 var(--icons-inline-padding);
  height: inherit;
}

.header_logo img:first-child {
  width: var(--container-icon-width);
  height: inherit;
}

.header_logo img:nth-child(2) {
  display: none;
}

.header_menu {
  grid-area: menu;
  height: inherit;
}

.header_menu nav {
  display: none;
}

.header_menu button {
  display: block;
  padding: 0 var(--icons-inline-padding);
  height: inherit;
}

.header_menu button img {
  width: var(--container-icon-width);
  height: inherit;
}

.header_actions {
  grid-area: actions;
  display: flex;
  justify-content: flex-end;
}

.header_actions ul {
  display: flex;
}

.header_actions ul li:nth-child(3) {
  display: none;
}

.header_actions ul li {
  display: flex;
  align-items: stretch;
  height: 100%;
}

.header_actions ul li div a {
  padding: 0 var(--icons-inline-padding);
  height: 100%;
}

/* Menu Styles Start */
.menu {
  display: grid;
  grid-template-areas: "content";
  position: fixed;
  top: 3.75rem;
  z-index: 2;
  height: calc(100% - 3.75rem);
  width: 100%;
  min-width: 20rem;
  background-color: var(--drawer-color);
  overflow-y: auto;
  scrollbar-width: thin;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.menu.active {
  opacity: 1;
  visibility: visible;
}

.menu_content {
  grid-area: content;
  width: 100%;
}

.menu_content > nav {
  display: block;
}

.menu_section {
  padding: 0.625rem 0;
}

.menu_content > nav .menu_section:first-child {
  border-bottom: var(--thin-border);
}

.menu_header {
  display: block;
  padding: 0.625rem 1.125rem;
  color: var(--color-gray);
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
  user-select: none;
}

.list_item {
  user-select: none;
  list-style: none;
}

.menu_item {
  display: block;
  padding: 0.75rem 1.125rem;
  color: #f8f8f8;
  font-weight: 500;
  text-transform: capitalize;
  transition: color 0.2s ease;
  cursor: pointer;
  line-height: var(--line-height);
}

.menu_item:hover {
  background-color: var(--backdrop-bg);
  color: #fff;
}

.more_icon_container {
  position: absolute;
  left: calc(100vw - 13%);
  width: var(--container-icon-width);
  height: var(--container-icon-height);
  top: 50%;
  transform: translateY(-50%);
}

.more_icon_container img {
  transform: rotate(90deg);
  transition: transform 0.1s cubic-bezier(0, 0, 0.25, 1);
}

.more_icon_container img.active {
  transform: rotate(-90deg);
}

.sub_menu_container {
  display: none;
  background-color: var(--dropdown-color);
}

.sub_menu_container.active {
  display: block;
}

.sub_menu_item {
  color: var(--nav-link-color);
  display: block;
  padding: 0.875rem 2.375rem;
}

.sub_menu_item:hover {
  background-color: var(--backdrop-bg);
}

.sub_menu_item h5 {
  font-size: 0.875rem;
  font-weight: 500;
  text-transform: capitalize;
}
/* Menu Styles End */

@media (min-width: 568px) {
  .header_logo img:first-child {
    display: none;
  }

  .header_logo img:nth-child(2) {
    display: block;
    width: 8.5rem;
    height: inherit;
  }

  .header_actions ul li:nth-child(3) {
    display: flex;
  }

  /* Menu Styles Start */
  .menu {
    min-width: unset;
    width: 18.75rem;
  }

  .more_icon_container {
    left: 15.75rem;
  }
  /* Menu Styles End */
}

@media (min-width: 1024px) {
  .menu {
    display: none;
  }

  .navbar {
    grid-template-areas: "- logo menu actions --";
    grid-template-columns: minmax(0, var(--container-inline-padding)) auto 1fr auto minmax(
        0,
        var(--container-inline-padding)
      );
  }

  .header_menu button:last-child {
    display: none;
  }

  .header_menu {
    display: flex;
  }

  .header_menu nav {
    display: flex;
    flex: 1;
  }

  .desktop_nav_item {
    padding: 0 1rem;
    cursor: pointer;
    text-transform: capitalize;
    color: var(--nav-link-color);
    user-select: none;
    font-weight: 500;
    height: 100%;
  }

  .desktop_nav_item a {
    height: 100%;
  }

  .expand_icon {
    width: var(--container-icon-width);
    height: var(--container-icon-height);
    margin-left: 0.3125rem;
    margin-bottom: -4px;
  }

  /* Desktop Menu Start */
  .desktop_menu {
    background-color: var(--drawer-color);
    padding: 0.625rem 0;
    position: fixed;
    top: 3.75rem;
    z-index: 2;
    overflow-y: auto;
    scrollbar-width: thin;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    width: 100%;
    max-width: var(--container-max-width);
  }

  .desktop_menu.active {
    opacity: 1;
    visibility: visible;
  }

  .menu_wrapper {
    display: grid;
    grid-template-columns: 13.75rem 1fr;
  }

  .menu_section_large {
    flex-basis: 13.75rem;
  }

  .menu_item {
    font-size: 0.875rem;
  }

  .genres_wrapper {
    border-left: var(--thin-border);
  }

  .menu_header {
    padding: 0.8125rem 1rem;
  }

  .genres_section {
    grid-column-gap: 1.25rem;
    display: grid;
    grid-auto-columns: minmax(0, 12.5rem);
    grid-auto-flow: column;
    grid-template-rows: repeat(5, 1fr);
    width: 100%;
  }

  .menu_item h5 {
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--nav-link-color);
  }

  .desktop_news_menu {
    background-color: var(--drawer-color);
    padding: 0.625rem 0;
    position: fixed;
    top: 3.75rem;
    z-index: 2;
    overflow-y: auto;
    scrollbar-width: thin;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    min-width: 18.75rem;
  }

  .desktop_news_menu.active {
    opacity: 1;
    visibility: visible;
  }

  .desktop_news_menu_wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .news_menu_section {
    flex: 0 0 18.75rem; /* Grow Shrink Basis */
  }
  /* Desktop Menu End */
}
