@import "tailwindcss";
@import "@styles/theme.css";
@import "@styles/utilities.css";

.playable-card {
  --hover-shadow-size: 0.5rem;

  box-shadow: 0 0 0 var(--hover-shadow-size) #0000;
}

@media screen and (min-width: 568px) {
  .playable-card {
    --hover-shadow-size: 0.75rem;
  }
}

.playable-card:hover .playable-card-hover-info,
.playable-card:focus-within .playable-card-hover-info {
  @apply opacity-100;
}

.playable-card-hover-preview {
  box-shadow: 0 0 0 var(--hover-shadow-size) var(--app-overlay-secondary);
}

.playable-card-hover-thumbnail-placeholder::after {
  @apply absolute inset-0 bg-white opacity-[0.08] content-[""];
}

.playable-card-hover-body {
  @apply flex flex-1 flex-col pt-3 pb-[0.7625rem] pl-3 sm:p-0;
}

.playable-card-hover-release {
  @apply text-sm/leading-4.5 mb-2 hidden items-center font-medium text-[var(--meta-color)] sm:flex;
}

.playable-card-hover-description-wrapper {
  @apply mb-2.5 hidden sm:block md:mb-2 lg:mb-3;
}

.playable-card-hover-description-wrapper p {
  @apply text-sm/leading-4.5 line-clamp-5 font-semibold;
}

.playable-card-hover-play {
  @apply flex items-center gap-1 text-[var(--app-background-crunchyroll-orange)];
}

.playable-card:hover .playable-card-hover-play {
  @apply text-[var(--app-hover-crunchyroll-orange)];
}

.playable-card-hover-play span {
  @apply text-sm/leading-4.5 inline-block truncate font-black uppercase;
}

.playable-card-small-title {
  @apply mb-1 self-start;
}

.playable-card-small-title small {
  @apply block truncate text-[0.625rem]/[0.875rem] font-black text-[var(--meta-color)] uppercase select-none;
}

.playable-card-title {
  @apply text-sm/leading-4.5 line-clamp-1 self-start font-semibold sm:mb-3 sm:line-clamp-3 sm:text-base;
}

.playable-card-hover-title {
  @apply sm:mb-0;
}

.playable-card-footer {
  @apply relative mt-auto flex w-full items-center justify-between text-[var(--meta-color)];
}
