@import "tailwindcss";
@import "@styles/theme.css";
@import "@styles/utilities.css";

.playable-card {
  --hover-shadow-size: 0.5rem;

  box-shadow: 0 0 0 var(--hover-shadow-size) #0000;
}

@media screen and (min-width: 568px) {
  .playable-card {
    --hover-shadow-size: 0.75rem;
  }
}

.playable-card:hover .playable-card-hover-info,
.playable-card:focus-within .playable-card-hover-info {
  @apply opacity-100;
}

.playable-card-hover-preview {
  box-shadow: 0 0 0 var(--hover-shadow-size) var(--app-overlay-secondary);
}

.playable-card-hover-thumbnail::after {
  @apply absolute inset-0 bg-white opacity-[0.08] content-[""];
}

.playable-card:hover .playable-card-hover-play {
  @apply text-[var(--app-hover-crunchyroll-orange)];
}

.playable-card-small-title {
  @apply mb-1 line-clamp-2 self-start;
}

.playable-card-small-title small {
  @apply block text-[0.625rem]/[0.875rem] font-black text-[var(--meta-color)] uppercase select-none;
}

.playable-card-hover-title {
  @apply sm:mb-0;
}
