@import "tailwindcss";
@import "@styles/theme.css";
@import "@styles/utilities.css";

.playable-card {
  --hover-shadow-size: 0.5rem;

  box-shadow: 0 0 0 var(--hover-shadow-size) #0000;
}

@media screen and (min-width: 568px) {
  .playable-card {
    --hover-shadow-size: 0.75rem;
  }
}

.playable-card:hover .playable-card-hover-info,
.playable-card:focus-within .playable-card-hover-info {
  @apply opacity-100;
}

.playable-card-hover-preview {
  box-shadow: 0 0 0 var(--hover-shadow-size) var(--app-overlay-secondary);
}

.playable-card-hover-thumbnail::after {
  @apply absolute inset-0 bg-white opacity-[0.08] content-[""];
}

.playable-card:hover .playable-card-hover-play {
  @apply text-[var(--app-hover-crunchyroll-orange)];
}

.playable-card-small-title {
  @apply mb-1 self-start;
}

.playable-card-small-title small {
  @apply block truncate text-[0.625rem]/[0.875rem] font-black text-[var(--meta-color)] uppercase select-none;
}

.playable-card-title {
  @apply line-clamp-1 self-start text-sm/4.5 font-semibold sm:mb-3 sm:line-clamp-3 sm:text-base;
}

.playable-card-hover-title {
  @apply sm:mb-0;
}

.playable-card-footer {
  @apply relative mt-auto flex w-full items-center justify-between text-[var(--meta-color)];
}
