@import "tailwindcss";
@import "@styles/theme.css";
@import "@styles/utilities.css";

.star-rating-average-button {
  @apply flex cursor-pointer items-center gap-1 text-sm/4.5 font-black;
}

.star-rating-average-button:hover,
.star-rating-average-button:focus-visible {
  @apply underline;
}

.star-rating-average-button span {
  @apply flex-[0_0_auto] text-sm/4.5;
}

.star-rating-average-button:hover span:first-child,
.star-rating-average-button:focus-visible span:first-child {
  @apply text-white;
}

.star-rating-average-button:focus + .star-rating-average-data {
  @apply absolute top-[calc(100%+0.5rem)] right-0 z-[98] block;
}

@keyframes starRatingAverageTooltipAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.star-rating-average-tooltip {
  @apply w-[18.125rem] bg-[var(--app-background-secondary)] p-5;

  animation: starRatingAverageTooltipAnimation 0.15s ease forwards;
}
