.expandable-section-mask {
  --fade-size: 2.5rem;

  -webkit-mask-image: linear-gradient(
    to bottom,
    #000 calc(100% - var(--fade-size)),
    #0000
  );
  mask-image: linear-gradient(
    to bottom,
    #000 calc(100% - var(--fade-size)),
    #0000
  );
}

.expandable-section {
  @apply relative max-h-[4.5rem] overflow-hidden sm:max-h-24;
}

.expandable-section-is-expanded {
  @apply max-h-full;
}

.expandable-section p {
  @apply whitespace-pre-line text-sm/leading-4.5 font-medium sm:text-base;
}

.show-details-table {
  @apply py-3 md:mt-6;
}

.show-details-table-row {
  @apply grid grid-cols-[40%_1fr] items-center py-3;

  box-shadow: inset 0 -0.0625rem 0 0 #4a4e58;
}

.show-details-table-row div:first-child {
  @apply self-start;
}

.show-details-table-row div:nth-child(2) {
  @apply text-right;
}

.show-details-table-column-name {
  @apply text-sm/leading-4.5 font-semibold sm:text-base;
}

.show-details-table-column-value {
  @apply text-sm/leading-4.5 font-medium;
}
