@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --app-background-primary: #000;
  --app-background-secondary: #23252b;
  --app-background-tertiary: #4a4e5880;

  --app-overlay-primary: #23252bcc;
  --app-overlay-secondary: #141519;

  --app-text-primary: #f5f5f5;
  --app-text-secondary: #f8f8f8;

  --app-background-crunchyroll-orange: #ff640a;
  --app-text-crunchyroll-orange: #e05200;

  --app-icon-primary: #dadada;

  --app-border-primary: #23252b;

  --meta-color: #a0a0a0;
}

::selection {
  background-color: var(--app-background-secondary);
  color: var(--app-background-crunchyroll-orange);
}

html,
body {
  color: var(--app-text-primary);
  font-weight: 400;
  height: 100%;
  overflow-anchor: none; /* Disable Auto Scroll from dynamically loaded content */

  background-color: var(--app-background-primary);
}

@layer components {
  .container-cmp {
    --container-inline-padding: 1.25rem;
    --container-max-width: 84.375rem;

    @apply mx-auto w-full max-w-full px-[var(--container-inline-padding)];
  }

  @media screen and (min-width: 568px) {
    .container-cmp {
      --container-inline-padding: 2.5rem;
    }
  }

  @media screen and (min-width: 1024px) {
    .container-cmp {
      --container-inline-padding: 4rem;
    }
  }

  @media screen and (min-width: 1720px) {
    .container-cmp {
      --container-inline-padding: 5rem;
    }
  }

  .page-overlay {
    @apply invisible fixed left-0 top-0 z-0 h-full w-full bg-[var(--app-overlay-primary)] opacity-0 data-[active=true]:visible data-[active=true]:z-[1] data-[active=true]:opacity-100;
  }

  .text-rendering-optimized {
    text-rendering: optimizeLegibility;
  }
}
