.details-wrapper {
  @apply relative flex flex-col pb-6 md:flex-row;
}

.body {
  @apply flex w-full flex-1 flex-col sm:block md:pr-7.5;
}

.heading-line {
  @apply mb-2.5 flex items-center sm:mb-3;
}

.heading-line h1 {
  @apply mr-3 flex-[1_1_auto] text-2xl font-medium sm:mr-6 sm:text-[1.75rem]/[2.25rem] md:text-[2.125rem]/[2.75rem];
}

.tags {
  @apply mb-3 flex select-none text-sm/leading-4.5 font-medium text-[var(--meta-color)] sm:mb-5;
}

.up-next-section {
  @apply hidden md:block;
}

.playable-card-thumbnail {
  --content-image-ar-priority-height: 1;

  @apply relative;

  width: calc(
    100% * var(--content-image-ar-priority-width) /
      var(--content-image-ar-priority-width)
  );
  height: calc(
    100% * var(--content-image-ar-priority-height) /
      var(--content-image-ar-priority-height)
  );
}

@media screen and (min-width: 568px) {
  .playable-card-thumbnail {
    --content-image-ar-priority-height: 0;
  }
}

.playable-card-thumbnail-has-width {
  @apply w-[20.625rem];
}

.playable-card-duration {
  @apply absolute bottom-1 right-1 select-none bg-[#0009] p-[0.1875rem_0.3125rem] text-sm/leading-4.5 font-semibold;
}

.sticky-buttons-wrapper::before {
  @apply absolute -top-5 left-0 block h-5 w-full content-[""];

  background: linear-gradient(180deg, #0000, #000);
}

.sticky-buttons-wrapper {
  @apply invisible fixed bottom-0 left-0 z-10 flex w-full translate-y-[120px] flex-col bg-[var(--app-background-primary)] px-5 pb-5 md:hidden;

  transition:
    visibility 0s linear 1s,
    transform 0.08s cubic-bezier(0.5, 0, 0.25, 1);
}

.sticky-buttons-wrapper[data-active="true"] {
  @apply visible translate-y-0;
}

.sticky-buttons-wrapper a,
.sticky-buttons-wrapper button {
  @apply sm:flex-1;
}
