.ratings-wrapper {
  @apply mb-6 mt-3 inline-flex flex-col sm:mt-1.5 sm:flex-row sm:flex-wrap sm:items-center sm:gap-2;
}

.star-rating-controls {
  --star-icon-size: 1.75rem;

  @apply flex items-center text-[var(--app-icon-primary)] hover:text-[var(--app-hover-crunchyroll-orange)];
}

.star-rating-controls::after {
  @apply ml-2 hidden h-5 w-[0.0625rem] bg-[#4a4e58] content-[""] sm:block;
}

.star-rating-controls button {
  @apply block px-1;
}

.star-rating-controls button:first-child {
  @apply pl-0;
}

.star-rating-controls button:last-child {
  @apply sm:pr-0;
}

.star-rating-controls button svg {
  @apply block size-[var(--star-icon-size)] fill-current;
}

.star-rating-controls button:hover ~ button svg {
  @apply fill-transparent;
}

.star-rating-average-button {
  @apply mt-3 flex items-center gap-1 hover:underline sm:mt-0;
}

.star-rating-average-button span {
  @apply flex-[0_0_auto] text-sm/leading-4.5 transition-[color] duration-200 ease-quick hover:text-white;
}

.star-rating-average-button span:first-child {
  @apply font-semibold text-[var(--app-icon-primary)];
}

.star-rating-average-button span:nth-child(2) {
  @apply font-black uppercase text-white;
}

.star-rating-average-button:focus + .star-rating-average-data {
  @apply absolute left-0 top-[calc(100%+0.5rem)] z-[98] block;
}

@keyframes starRatingAverageTooltipAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.star-rating-average-tooltip {
  @apply w-[18.125rem] bg-[var(--app-background-secondary)] p-5 text-white;

  animation: starRatingAverageTooltipAnimation 0.15s ease forwards;
}
