:root {
  --primary-color: #000000;
  --light-black: #23252b;
  --drawer-color: #141519;

  --crunchyroll-orange: #f47521;
  --dropdown-color: #4a4e5880;
  --backdrop-bg: #23252bcc;

  --nav-link-color: #dadada;
  --color-gray: #a0a0a0;
  --color-yellow: #fab818;

  /* Spacings and Sizings */
  --icons-inline-padding: 1.125rem;
  --container-inline-padding: 4rem;
  --container-icon-width: 1.5rem;
  --container-icon-height: 1.5rem;
  --container-max-width: 54rem;

  --line-height: 1.5rem;
  --min-width: 20rem;

  /* Borders */
  --thin-border: 0.125rem solid #23252b;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary-color);
  color: #fff;
  font-family: Lato, Helvetica Neue, helvetica, sans-serif;
  font-weight: 400;
  height: 100%;
  overflow-anchor: none; /* Disable automatic scroll */
}

#content {
  height: 100%;
  min-width: 20rem;
  visibility: visible;
}

#content > div {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100%;
}

ul,
ol {
  list-style: none;
}

a,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  color: inherit;
}

@media (min-width: 1024px) {
  :root {
    /* Spacings and Sizings */
    --line-height: 1.125rem;
  }
}
