.hidden {
  display: none;
}

.relative {
  position: relative;
}

.align-items-center {
  display: flex;
  align-items: center;
}

.image-responsive {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Backdrop */
.backdrop {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  min-width: 320px;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-in-out;
  background-color: var(--backdrop-bg);
  z-index: 1;
}

.backdrop.active {
  opacity: 1;
  visibility: visible;
}
/* Backdrop end */

/* Icon Hover Effects Start */
.icon_hover {
  transition: background-color 0.1s cubic-bezier(0, 0, 0.25, 1);
  color: #fff;
}

.icon_hover.active {
  background-color: var(--primary-color);
  color: #fff;
}

.icon_hover:hover {
  background-color: var(--primary-color);
  color: #fff;
}
/* Icon Hover Effects End */
