.carousel-cards {
  grid-template-areas: "content";
}

.carousel-card {
  transition: opacity 0.5s ease;
}

.carousel-card[data-active="true"] {
  @apply z-10 grid opacity-100;

  grid-area: content;
}

.carousel-card-container {
  @apply grid w-full grid-cols-[minmax(0,auto)] grid-rows-[minmax(0,auto)] items-stretch;

  grid-template-areas: "carousel-card-container";
}

.carousel-card-grid {
  @apply relative grid max-h-full w-full grid-cols-12 grid-rows-[1fr_auto] gap-x-2.5 px-5;

  align-content: end;
  align-items: end;
  grid-area: carousel-card-container;
}

.carousel-card-sizer {
  @apply aspect-[1/1.15] w-full;

  align-self: end;
  grid-area: carousel-card-container;
}

.carousel-card-bg {
  @apply pointer-events-none absolute left-0 top-0 -z-10 aspect-[auto_2/3] min-w-full;
}

.carousel-card-bg::before,
.carousel-card-bg::after {
  @apply pointer-events-none absolute inset-0 block aspect-[inherit] bg-[var(--app-background-secondary)] content-[""];
}

.carousel-card-bg::after {
  background: linear-gradient(180deg, #0000 40%, #000000bf 65%, #000 90%);
}

.carousel-card-title {
  @apply absolute grid aspect-[15/8] max-h-[min(20rem,100%)] w-full max-w-[37.5rem] grid-cols-[1fr_minmax(0,auto)_1fr] grid-rows-[1fr_minmax(0,auto)];

  grid-template-areas:
    "label label label"
    ".     logo  .    ";
  grid-column: 4 / span 6;
  grid-row: 1/1;
}

.carousel-card-title a {
  @apply h-full w-full;

  grid-area: logo;
}

.carousel-card-title a img {
  @apply block h-full w-full object-contain object-[bottom_center] opacity-0;

  transition: opacity 0.3s cubic-bezier(0.4, 0, 1, 1);
}

.carousel-card[data-active="true"] .carousel-card-title a img {
  @apply opacity-100;
}

.carousel-card-body {
  @apply grid h-full grid-cols-1 justify-stretch text-center;

  align-content: end;
  grid-column: 1 / span 12;
  grid-row: 2;
}

.carausel-card-seo-title {
  @apply pointer-events-none absolute size-0 h-0 overflow-hidden;
}

.rhombus::before {
  @apply mx-1 inline-block size-1 -translate-y-1/2 rotate-45 bg-[var(--meta-color)] content-[""];
}
