.carousel-navigation-arrow {
  @apply pointer-events-none absolute top-0 hidden h-full w-[var(--container-inline-padding)] items-center md:flex;
}

.carousel-navigation-arrow button {
  @apply grid h-[6.25rem] w-full transition-[color] ease-quick hover:text-[var(--pill-color)];

  pointer-events: all;
}

.carousel-navigation-arrow button svg {
  --stroke: #4a4e5866;

  @apply m-auto size-[22px] max-w-full lg:size-[26px] 2xl:size-[28px];

  stroke: var(--stroke);
  stroke-width: 0.0313rem;
}

.carousel-cards {
  @apply relative -z-[1] grid;

  grid-template-areas: "content";
}

.carousel-card {
  @apply relative z-[0] hidden opacity-0 transition-opacity duration-500 ease-quick;

  grid-area: content;
}

.carousel-card[aria-current="true"] {
  @apply z-[1] grid w-full min-w-full grid-cols-[minmax(0,auto)] grid-rows-[minmax(0,auto)] items-stretch opacity-100;

  grid-template-areas: "carousel-card";
}

.carousel-card-grid {
  @apply relative grid max-h-full w-full grid-cols-12 grid-rows-[1fr_auto] gap-x-2.5 px-[var(--container-inline-padding)] pt-[60%] md:gap-x-5 md:pt-10 lg:gap-x-[1.875rem] 2xl:pt-20;

  align-content: end;
  align-items: end;
  grid-area: carousel-card;
}

.carousel-card-sizer {
  --under-hero-whitespace: 18.75rem;

  @apply aspect-[1/1.15] w-full md:aspect-[20/7] md:max-h-[calc(100vh-var(--under-hero-whitespace))] md:min-h-[var(--under-hero-whitespace)] lg:min-h-[22.5rem] xl:min-h-[31.25rem] 2xl:min-h-[37.5rem];

  align-self: end;
  grid-area: carousel-card;
}

@media screen and (min-width: 1440px) {
  .carousel-card-sizer {
    --under-hero-whitespace: min(21.875rem, 40vh);
  }
}

.carousel-card-bg {
  @apply pointer-events-none absolute left-0 top-0 -z-[1] aspect-[auto_2/3] w-full min-w-full md:aspect-[auto_16/9];
}

.carousel-card-bg::before,
.carousel-card-bg::after {
  @apply pointer-events-none absolute inset-0 block aspect-[inherit] bg-[var(--app-background-secondary)] content-[""];
}

.carousel-card-bg::after {
  background: linear-gradient(180deg, #0000 40%, #000000bf 65%, #000 90%);
}

@media screen and (min-width: 800px) {
  .carousel-card-bg::after {
    --cr-end-direction: right;

    background: linear-gradient(to bottom, #0000 50%, #000 100%),
      linear-gradient(
        to var(--cr-end-direction),
        #000000d9 0,
        #00000080 30%,
        #0000 55%
      );
  }
}

.carousel-card-title {
  @apply absolute col-[4/span_6] row-[1/1] grid aspect-[15/8] max-h-[min(20rem,100%)] w-full max-w-[37.5rem] grid-cols-[1fr_minmax(0,auto)_1fr] grid-rows-[1fr_minmax(0,auto)] md:col-[1/span_4] md:grid-cols-[minmax(0,auto)_1fr] lg:col-[1/span_3];

  grid-template-areas:
    "label label label"
    ".     logo  .    ";
}

@media screen and (min-width: 800px) {
  .carousel-card-title {
    grid-template-areas:
      "label label"
      "logo  .    ";
  }
}

.carousel-card-label {
  @apply absolute bottom-0 left-0 mb-2 flex w-full flex-col items-center gap-2 text-center md:text-left lg:mb-3;

  grid-area: label;
}

@media screen and (min-width: 800px) {
  .carousel-card-label {
    align-items: start;
  }
}

.carousel-card-logo {
  @apply size-full;

  grid-area: logo;
}

.carousel-card-logo img {
  @apply block size-full object-contain object-[bottom_center] opacity-0 md:object-[bottom_left];

  transition: opacity 0.3s cubic-bezier(0.4, 0, 1, 1);
}

.carousel-card[aria-current="true"] .carousel-card-logo img {
  @apply opacity-100;
}

.carousel-card-body {
  @apply col-[1/span_12] grid h-full grid-cols-1 justify-stretch text-center sm:col-[3/span_8] sm:justify-items-center md:col-[1/span_5] md:justify-items-start lg:col-[1/span_4];

  align-content: end;
  grid-row: 2;
}

@media screen and (min-width: 800px) {
  .carousel-card-body {
    text-align: unset;
  }
}

.carousel-card-seo-title {
  @apply pointer-events-none absolute size-0 overflow-hidden;
}

.carousel-card-description {
  @apply mb-8 hidden text-base font-medium text-[var(--app-icon-primary)] lg:line-clamp-4;
}

.navigatin-button {
  --pill-color: #ffffff80;

  @apply relative h-2 w-6 px-1 py-2 transition-[width] duration-300 ease-quick;

  box-sizing: initial;
}

.navigatin-button:first-child {
  @apply md:pl-0;
}

.navigatin-button[aria-current="true"] {
  @apply w-12;
}

.navigatin-button[aria-current="true"]:hover {
  --pill-color: var(--app-background-crunchyroll-orange);
}

.navigatin-button:hover {
  --pill-color: #ff640ab3;
}

.navigatin-button div {
  @apply flex size-full overflow-hidden rounded bg-[var(--pill-color)] transition-colors duration-500 ease-quick;
}

.navigatin-button[aria-current="true"] span {
  animation: onCardLoad 10s ease;
  background-color: #ff640a;
  border-radius: 0.25rem;
  height: 100%;
}

@keyframes onCardLoad {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
